body{
	color: #0063bb;
}

p{
	color: #104066;
	font-size: 12px;
	text-align: center;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-bar-a{
	background: url('../images/header-bg.jpg') center center repeat-x;
	height: 67px;
}

#logo{
	background: url('../images/logo.png') no-repeat;
	width: 113px;
	height: 132px;
	margin: 0 auto;
}

.uiContentMain{
	background: url('../images/main-bg.jpg') no-repeat center;
	background-size: cover;
	padding: 0;
}

#main{
	margin-top: 100px;
}

#formCont{
	text-align: center;
	width: 225px;
	margin: 0 auto;
}

#formCont div:nth-child(2){
	margin: 0 0 25px 0;
}

::-webkit-input-placeholder{
	color: #1c91d1;
}

.alert{
	background: url('../images/alertaBg.jpg') repeat-x, url('../images/alertaRow.png') center 30px no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.ui-footer{
	background: url('../images/footerBg.jpg') center center repeat-x;
	height: 75px;	
}

.ui-input-text, input.ui-input-text, textarea.ui-input-text{
	color: #0063bb;
	border-radius: 0;
	font-size: 13px;
}

.options{
	text-align: right;
	font-size: 10px;
}

.ui-checkbox{
	margin: 0 !important;
}

.ui-checkbox input{
	left: 135px;
	margin-top: 3px;
}

.rememberMe{
	color: #01446b !important;
	text-decoration: none;
	margin-top: 15px;
}

.ui-submit{
	margin-top: 15px;
}

.ui-btn-inner{
	font-size: 13px;
}

.ui-footer .ui-title{
	font-size: 11px;
}

.ui-footer .ui-btn-text{
	margin: 0 auto;
}

.singup{
	width: 150px;
	margin: 0 auto;
}

.singup a{
	border: none;
	margin-top: 19px;
}

.singup .ui-btn-inner{
	font-size: 11px;
}

#intro{
	width: 200px;
	margin: -20px auto;
}

.space{
	margin-bottom: 45px;
}

#logoInt{
	background: url('../images/logoInt.png');
	width: 147px;
	height: 64px;
	position: absolute;
	left: 0;
	top: 0;
}

#search{
	background: url('../images/searchBg.jpg') repeat-x;
	height: 77px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
}

#search .ui-input-text{

	border-radius: 12px;
}

#search input{
	background: url('../images/icoSearch.png') no-repeat right -1px;
	font-size: 10px;
}

#search ::-webkit-input-placeholder{
	color: #707070;
	font-weight: bold;
}

#search a{
	font-style: italic;
	width: 135px;
	float: right;
}

#search span{
	padding: 3px;
}

#choosecat p{
	background: url('../images/chooseBg.jpg') repeat-x;
	height: 38px;
	margin: 0;
	color: #1983cf;
	font-size: 14px;
	font-weight: bold;
	padding-top: 15px;
}

#choosecat .ui-btn{
	height: 50px;
	margin: 0;
	box-shadow: 0 !important;
	border-radius: 0;
	border-top: 0;
	border-bottom: 1px solid #ccc;
}

#choosecat .ui-btn-inner{
	border: 0;
	width: 234px;
	margin: 0 auto;
	padding: 15px;
	font-size: 17px;
}

#choosecat .ui-btn-text{
	width: 125px;
	margin: 0 auto;
	display: block;
	text-align: left;
}

#choosecat .s1 .ui-btn-inner{
	background: url('../images/icoMedical.png') no-repeat 16px center;

}

#choosecat .s2 .ui-btn-inner{
	background: url('../images/hospitalIco.png') no-repeat 9px center;

}

#choosecat .s3 .ui-btn-inner{
	background: url('../images/supplierIco.png') no-repeat 16px center;

}

#choosecat .s4 .ui-btn-inner{
	background: url('../images/pharmacyIco.png') no-repeat 14px center;

}

#choosecat .s5 .ui-btn-inner{
	background: url('../images/residentIco.png') no-repeat 16px center;

}

.ui-footer.ui-bar-d{
	height: 63px;
}

.ui-footer.ui-bar-d ul{
	width: 320px;
	margin: 0 auto;
}

.ui-footer.ui-bar-d li{
	float: left;
}

#tableList{
	position: relative;
}

pre.prettyprint{
	padding: 10px;
	font-family: monospace;
	font-size: 9pt;
	background: #f8f8f8;
	border: 1px solid #e4e4e4;
}

#especialidades{
	border: 1px solid #2683BD;
	height: 350px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	font-family: sans-serif;
	font-size: 1em;
}
#especialidades dt{
	margin: 0;
	background: #2683BD url(http://www.teamdf.com/jquery-plugins/resources/images/overlay-sprite.png) repeat-x 0 -50px;
	font-weight: bold;
	text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.2 ), 1px 1px 0px rgba( 255, 255, 255, 0.3 );
	color: white;
	padding: 8px 5px;
	border-bottom: 1px solid #1D6FA2;
}
#especialidades dd{
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #F2F6FB;
	font-size: 0.8em;
	color: #2A5673;
}
#buttons{
	position: absolute;
	right: 8px;
	top: -45px;
	z-index: 99;
	background: #fff;
	padding: 3px;
	border-radius: 8px;
	border: 1px solid #ccc;
}

#buttons a{
	padding: 3px 8px;
	font-size: 9px;
	line-height: 6px;
	text-align: center;
	color: #888;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}
button:hover{
	color: white;
	background-color: #1D6FA2;
}
#buttons {
	margin: 0 0 5px 0;
}
#buttons button{
	float: none;
	margin: 0 5px 0 0;
	border-color: #2683BD;
}
#buttons button.inactive{
	background-color: #999;
	border-color: #999;
}

.ui-list dd{
	background: #fff;
	padding: 9px !important;
	border-bottom: 1px solid #ddd;
}

.ui-list dd a{
	color: #095681;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.ui-list .name{
	color: #213c5d;
	display: block;
}

.ui-list .specialty{
	color: #0080c8;
	display: block;
}

.ui-list .locate{
	color: #9d9b9b;
	display: block;
}

.ui-popup .ui-content{
	padding: 1em;
}

.logout{
	display: none;
	width: 200px;
	height: 54px;
	position: absolute;
	top: 12px;
	right: 20px;
	text-align: right;
}

.logout .name{
	color: #fff;
	font-size: 14px;
}

.logout .btn{
	background: url('../images/logoutBtn.png') no-repeat;
	width: 59px;
	height: 23px;	
	float: right;
	margin-top: 5px;
	cursor: pointer;
}