body{
	color: #0063bb;
}

.ui-bar-a{
	background: url('../images/header-bg.jpg') center center repeat-x;
	height: 67px;
}

#logo{
	background: url('../images/logo.png') no-repeat;
	width: 113px;
	height: 132px;
	margin: 0 auto;
}

.ui-content{
	background: url('../images/main-bg.jpg') no-repeat center;
	background-size: cover;
	padding: 0;
}

#main{
	margin-top: 100px;
}

#formCont{
	text-align: center;
	width: 225px;
	margin: 0 auto;
}

#formCont div:nth-child(2){
	margin: 0 0 25px 0;
}

::-webkit-input-placeholder{
	color: #1c91d1;
}

.alert{
	background: url('../images/alertaBg.jpg') repeat-x, url('../images/alertaRow.png') center 30px no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.ui-footer{
	background: url('../images/footerBg.jpg') center center repeat-x;
	height: 75px;	
}

.ui-input-text, input.ui-input-text, textarea.ui-input-text{
	color: #0063bb;
	border-radius: 0;
	font-size: 13px;
}

.options{
	text-align: right;
	font-size: 10px;
}

.ui-checkbox{
	margin: 0 !important;
}

.ui-checkbox input{
	left: 135px;
	margin-top: 3px;
}

.rememberMe{
	color: #01446b !important;
	text-decoration: none;
	margin-top: 15px;
}

.ui-submit{
	margin-top: 15px;
}

.ui-btn-inner{
	font-size: 13px;
}

.ui-footer .ui-title{
	font-size: 11px;
}

.ui-footer .ui-btn-text{
	margin: 0 auto;
}

.singup{
	width: 150px;
	margin: 0 auto;
}

.singup a{
	border: none;
	margin-top: 19px;
}

.singup .ui-btn-inner{
	font-size: 11px;
}